

*{
    background-color:whitesmoke
  
}

h1{
    border: solid;
    border-color: red;
   border-radius: 20px;
   background-color: blue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

h2{
  
   border-radius:20px;
}






h5 {
   
    border-radius:   20px;;

}

h6{
   
    border-radius:   20px;;
border-width: thin;
}

.header {
    color:yellow;
  
    
   
  
} 

.design {
    display:flex;
    justify-content: space-between;
    border: 10px solid black;
background-color: chocolate;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
font-weight: 400;
color: rgb(14, 12, 12);
}

.menu img{
    border: 2px solid black;
    border-radius: 20px;
 }

 .bodyimg{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 50px;
font-weight: 400;
background-image: url(b.jpg);
background-repeat: no-repeat;
background-size: 900,10000;

 }

p,h1{
    text-align: center;
}